@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '@ionic/angular/css/core.css';

@import '@ionic/angular/css/normalize.css';
@import '@ionic/angular/css/structure.css';
@import '@ionic/angular/css/typography.css';

@import '@ionic/angular/css/padding.css';
@import '@ionic/angular/css/float-elements.css';
@import '@ionic/angular/css/text-alignment.css';
@import '@ionic/angular/css/text-transformation.css';
@import '@ionic/angular/css/flex-utils.css';
@import '@ionic/angular/css/display.css';

@import '@ionic/angular/css/palettes/dark.always.css';

@import './theme/variables';

.sucess-snackbar {
  --mdc-snackbar-container-color: green;
--mat-snack-bar-button-color: #001e00;
--mdc-snackbar-supporting-text-color: white;
}

.error-snackbar {
--mdc-snackbar-container-color: red ;
--mat-snack-bar-button-color: #330000;
--mdc-snackbar-supporting-text-color: white;
}

:root {
  --primary: #0080ff;
  --secoundary: #FFDE00;
  --default: #f3f4f6;
  --text-default: #000;
  --text-secoundary: #374151;
}

:root .dark-theme {
  --bg-primary: #0080ff;
  --bg-secoundary: #FFDE00;
  --bg-default: #f3f4f6;
  --text-default: #000;
  --text-secoundary: #374151;
}
